.btn {
  background-color: #ffffff;
  border-width: 0;
  outline: none;
  cursor: pointer;
}
.update-add-modal {
  border-radius: 16px;
  background: #FFF;
  /* width: 50%; */
  height: 80%;
  padding: 10px;
}

.update-add-modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2px;
}

.update-add-modal-description-heading {
  color: #333B69;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.update-add-modal-description-para {
  color: #505887;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.update-input-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 15px;
}

.update-transaction-label {
  color: #505887;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.update-input-label {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #DFEAF2;
  background: #FFF;
  color: #718EBF;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left:10px ;
}
@media screen and (max-width:576px) {
  .update-input-label{
      width: 320px;
  }
}
@media screen and (max-width:400px) {
  .update-input-label{
      width: 280px;
  }
}
.update-add-transaction-btn {
  display: flex;
  width: 418px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #2D60FF;
  border-width: 0;
  width: 95%;
  margin: auto;
  color: #ffffff;
  cursor: pointer;
}