.user-transactions-container-1 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

@media screen and (max-width:991px) {
    .user-transactions-container-1{
        display: flex;
        flex-direction: column;
    }
}
.user-transactions-sub-container{
    width: 80%;
    overflow-y: scroll;
}
@media screen and (max-width:991px) {
    .user-transactions-sub-container{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .user-transactions-sub-container{
        width: 100%;
    }
}
.all-transaction-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.all-transaction-heading {
    color: #343C6A;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.transaction-btn-container{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.transaction-btn{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    color: #718EBF;
    border-width: 0;
    background-color: #ffffff;
    cursor: pointer;
}
.active-btn{
    border-bottom: 2px solid #2D60FF;
    color: #2D60FF;
}
.all-transactions-container{
    background-color: #F5F7FA;
    padding: 20px;
}
/* @media screen and (max-width:400px) {
    .all-transactions-container{
        width: 100%;
    }
} 
 */
.all-transactions-sub-container{
    background-color: #ffffff;
    border-radius: 20px;
    /* margin: 20px; */
    padding: 5px;
    margin-bottom: 10px;
    overflow-x: hidden;
}
@media screen and (max-width:700px){
    .all-transactions-sub-container{
        overflow-x: scroll;
    }
}
.all-transactions-list {
    padding-left: 0px;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:700px) {
    .all-transactions-list{
        width: 700px;
    }
}
.all-transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid #E2E2E2; */
}

.separator{
    border: 1px solid #E2E2E2;
    width: 95%;
}

.all-transaction-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
}

.all-transaction-name {
    color: #505887;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3px;
}

.all-transaction-category {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20%;
}

.all-transaction-date {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15%;
}
.all-transaction-amount{
    /* text-align: right; */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.debit{
    color: #FE5C73;
}
.credit{
    color: #16DBAA;
}
.all-transaction-update-delete-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
}
.all-transaction-update-delete-sub-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 10%;
}