
@media screen and (min-width:991px) {
  .sidebar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      max-height: 100vh;
      width: 20%;
      border-right: 1px solid #E2E2E2;
      background: #FFF;
  }
  
}
@media screen and (max-width:991px) {
  .sidebar-container{
      display: flex;
      flex-direction: row;
      width: 100vw;
      border-bottom: 1px solid #E2E2E2;
      border-right: none;
  }
}

@media screen and (max-width:576px) {
  .sidebar-container{
      flex-direction: column;
  }
  .sidebar-container-1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}

.sidebar-sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.dollar-icon {
  width: 44px;
  height: 40px;
}

.money {
  color: #F89A23;
  font-family: "Poppins";
  padding-right: 4px;
  font-size: 20px;
  padding-left: 4px;
  font-weight: 700;
}

.matters {
  color: #02969C;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width:576px) {
  .sidebar-buttons-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 20px;
      padding-right: 10px;
  }
}

.sidebar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  padding-left: 20px;
  text-decoration: none;
}

.active {
  border-left: 5px solid #2D60FF;
  border-radius: 7px;
}

@media screen and (max-width:576px) {
  .active{
      border-left: none;
  }
}

.sidebar-icon {
  height: 15px;
  width: 15px;
  color: #5B73A0;
}

.button-name {
  font-family: 'Inter';
  color: #505887;
  font-size: 15px;
  margin-left: 10px;
}
@media screen and (max-width:576px) {
  .button-name{
      display: none;
  }
}


.active-heading {
  color: #2D60FF;
}

.sidebar-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-top: 1px solid #EAECF0;
}
.sidebar-profile-pic {
  width: 40px;
}
@media screen and (max-width:991px) {
  .sidebar-profile-container{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-top: none;
      padding: 10px;
  }
}
@media screen and (max-width:576px) {
  .sidebar-profile-container{
      align-items: flex-end;
      justify-content: end;
  }
  
}


.sidebar-profile-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  background-color: #ffffff;
}

.profile-name {
  color: #505887;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.profile-mail {
  color: #718EBF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
}