.logout-modal {
  width: 80%;
  margin: auto;
  height: 30%;
  border-radius: 16px;
  background: #FFF;
  /* Shadow / lg */
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
  padding: 5px;
}

.logout-modal-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.logout-alert-container {
  width: 64px !important;
  flex-shrink: 0;
  height: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FEF3C7;
}

.logout-alert-sub-container {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FDE68A;
}

.logout-alert-icon {
  width: 32px;
  height: 32px;
  color: #D97706;
}
.logout-container{
  padding-left: 5px;
}

.logout-heading {
  color: #333B69;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.logout-para {
  color: #505887;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.logout-btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.logout-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #DC2626;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  border-width: 0;
}
.no-logout-btn{
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  background-color: #ffffff;
  color: #333B69;
  cursor: pointer;
}
.into-btn{
  background-color: transparent;
  outline: none;
  border-width: 0;
  cursor: pointer;
}