.admin-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

.admin-dashboard-container {
    width: 80%;
    overflow-y: scroll;
}
@media screen and (max-width:991px) {
    .admin-container {
        display: flex;
        flex-direction: column;
    }
    .admin-dashboard-container {
        width: 100%;
    }
}

.admin-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.admin-heading {
    color: #343C6A;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.admin-dashboard-sub-container {
    background-color: #F5F7FA;
    /* height: 190%; */
    padding: 20px;

}
@media screen and (max-width:400px) {
    .admin-dashboard-sub-container{
        width: 100%;
    }
}

.admin-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
@media screen and (max-width:576px) {
    .admin-type-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .admin-type-container{
        align-items: flex-start;
    }
}

.admin-credit-heading {
    color: #16DBAA;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width:576px) {
    .admin-credit-heading{
        font-size: 25px;
    }
}
@media screen and (max-width: 400px) {
    .admin-credit-heading{
        font-size: 18px;
    }
}

.admin-credit-para {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
@media screen and (max-width:576px) {
    .admin-credit-para{
        font-size: 22px;
    }
}
@media screen and (max-width: 400px) {
    .admin-credit-para{
        font-size: 18px;
    }
}


.admin-credit-debit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
    width: 45%;
    margin: 10px;
    padding: 10px;
}
@media screen and (max-width:576px) {
    .admin-credit-debit-container{
        width: 90%;
    }
}
@media screen and (max-width:400px) {
    .admin-credit-debit-container{
        width: 80%;
    }
}
.admin-debit-heading {
    color: #FE5C73;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width:576px) {
    .admin-debit-heading{
        font-size: 25px;
    }
}
@media screen and (max-width: 400px) {
    .admin-debit-heading{
        font-size: 18px;
    }
}


.admin-debit-para {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
@media screen and (max-width:576px) {
    .admin-debit-para{
        font-size: 22px;
    }
}
@media screen and (max-width: 400px) {
    .admin-debit-para{
        font-size: 18px;
    }
}


@media screen and (max-width:767px) {
    .admin-type-img{
        height: 130px;
        width: 140px;
    }
}
@media screen and (max-width:576px) {
    .admin-type-img{
        height: 120px;
        width: 130px;
    }
}

@media screen and (max-width:400px) {
    .admin-type-img{
        height: 110px;
        width: 120px;
    }
}

.admin-last-transaction-heading {
    color: #333B69;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    margin: 10px;
}

.admin-transaction-sub-container{
    background-color: #ffffff;
    border-radius: 20px;
    /* margin: 20px; */
    padding: 5px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

@media screen and (max-width:767px) {
    .admin-transaction-sub-container{
        overflow-x: scroll;
    }
}

.admin-transactions-list {
    padding-left: 0px;
    list-style-type: none;
    /* background-color: #ffffff; */
    /* border-radius: 20px; */
    margin: 10px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:767px) {
    .admin-transactions-list{
        width: 700px;
    }
    
}

.admin-transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid #E2E2E2; */
}

.separator {
    border: 1px solid #E2E2E2;
    width: 95%;
}

.admin-transaction-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
}

.admin-transaction-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.admin-transaction-img-container-para {
    color: #505887;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 4px;
}

.admin-transaction-name {
    color: #505887;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3px;
    width: 20%;
}

.admin-transaction-category {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20%;
}

.admin-transaction-date {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15%;
}

.admin-transaction-amount {
    /* text-align: right; */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 10%;
}

.debit {
    color: #FE5C73;
}

.credit {
    color: #16DBAA;
}

.admin-loader-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-overview-container {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
@media screen and (max-width:500px) {
    .admin-overview-container{
        width: 100%;
        margin: auto;
        overflow-x: scroll;
    }
}

.admin-overview-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-overview-sub-container-1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 20%;
}

@media screen and (max-width:576px) {
    .admin-overview-sub-container{
        flex-direction: column;
    }
    .admin-overview-sub-container-1{
        width: 40%;
    }
}

.admin-overview-heading {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.admin-overview-sub-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-overview-btn-1 {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4C78FF;
    border-width: 0;
    box-shadow: 0px 0px 15px 0px rgba(17, 52, 133, 0.50) inset;
    gap: 2px;
}

.admin-overview-para {
    color: #718EBF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.admin-overview-btn-2 {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FCAA0B;
    border-width: 0;
    box-shadow: 0px 0px 15px 0px rgba(172, 13, 108, 0.50) inset;
}