.container-profile {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

@media screen and (max-width:991px) {
    .container-profile{
        flex-direction: column;
    }
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.profile-heading {
    color: #343C6A;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile-sub-container {
    background-color: #F5F7FA;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.profile-data-container {
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width:576px) {
    .profile-data-container{
        flex-direction: column;
    }
}

.profile-pic {
    height: 120px;
    width: 120px;
}
@media screen and (max-width:576px) {
    .profile-pic{
        margin-bottom: 10px;
        align-self: center;
    }
}
@media screen and (max-width:400px) {
    .profile-pic{
        height: 100px;
        width: 100px;
        margin-bottom: 5px;
    }
}
.profile-input-data-container{
    width: 85%;
}
@media screen and (max-width:400px) {
    .profile-input-data-container{
        width: 100%;
    }
}

.profile-inputs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}
@media screen and (max-width:860px){
    .profile-inputs-container{
        flex-direction: column;
    }
}

.profile-input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}
@media screen and (max-width:860px){
    .profile-input-container{
        width: 80%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:767px){
    .profile-input-container{
        width: 80%;
        margin-bottom: 10px;
    }
}


.profile-input-label {
    color: #505887;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-input {
    width: 100%;
    height: 15px;
    flex-shrink: 0;
    background: #FFF;
    outline: none;
    border: 1px solid #505887;
    padding: 10px;
    border-radius: 8px;
    color: #718ebf;
    border-width: 0px;
    
}
